<a href="logout">logout</a>

<h3>Search For An Artist!</h3>
  <div class="container">
      <input id="searchArtist" class="form-control" value="Lou Bega">
      <button id="searchArtist">Submit </button>
  </div>
  <br>    

<h3>Search For An Album!</h3>
  <div class="container">
      <input id="searchAlbum" class="form-control" value="Lou Bega's Greatest Hits">
      <button id="searchAlbum">Submit </button>
  </div>

  <h3>Search For A Track!</h3>
  <div class="container">
      <input id="searchTrack" class="form-control" value="Mambo No. 5">
      <button id="searchTrack">Submit </button>
  </div> 

  <br>
  <br>

  <a href="musictron3000"><h4>Or try the MusicTron 3000</h4></a>

<h3>Your playlists</h3>
  @foreach(var name in ViewBag.Playlists)
  {
      <ul>
            <li><a href="playlists/@name.PlaylistId">@name.PName</a></li> <td><a href="/delete/@name.PlaylistId">(Delete)</a>
      </ul>
  }
  


    <h3>Make a new playlist</h3>

@model streamify.Models.Playlist
 
<form asp-controller="Streamify" asp-action="NewPlaylist" method="post">
    <span asp-validation-for="PName"></span>     <!-- First is capital because it needs to match the model key -->  
    <label asp-for="PName">Playlist Name: </label>
    <input asp-for="PName"/>
    <br>

    <input type="submit" name="submit" value="Create Playlist">
</form>
<br>
   