<h3>Welcome to the MusicTron 3000 beta tester</h3>

<h5>The goal of the MusicTron 3000 is to match you up with the music you need to hear,
    exactly when you are ready to hear it. You will never have to search for music again.
    Just follow the steps below and give the system 1 week to process.
</h5>


<form>
    <input type="text" name="color">
    <label for="color">What's your favorite color?</label>
    <br>
    <input type="text" name="bank">
    <label for="bank">In exactly 9 digits, describe your banking route number.</label>
    <br>
    <input type="text" name="ss">
    <label for="ss">Music is about freedom and fearlessness. Are you brave enough to give your social security number?</label>    
</form>

<br>

<h5> Now place your eye up to your webcam and take a very clear picture of your iris.</h5>
<button>Take photo</button>

<br>
<br>

<h5>Please prick your finger and smear the blood into the usb drive.</h5>
<button>Analyze blood.</button>

<br>
<br>

<h4>Congratulations! Your perfect music matches are on the way. This process works best if you
    stay secluded and away from all your banking information until further notice. </h4>