<h1>Track Results:</h1>

<a href="/dashboard">Return to main dashboard</a>


  <div class="container">
      <div class="row">
          @foreach(var song in ViewBag.Results.results.trackmatches.track)
          {
          <div>
              <h6>Track Name: @song.name</h6> <a href="#">add to playlist</a>
              <h6>By: @song.artist</h6>
              <h6>_____________________</h6>

          </div>
          }
      </div>
  </div>

